<div class="entry-content">
<p><strong>WireAlameda</strong> is a group of Alameda residents who believe that our community is an excellent choice for <a href="http://googlepublicpolicy.blogspot.com/2010/02/experimenting-with-new-ways-to-make.html">Google's ultra-high-speed broadband network pilot</a> and are working together with our city's leadership and others in our community to help focus community resources and shape what we hope will be an exceptional, successful application.</p>

<p>The group, founded on February 11, 2010, includes:</p>

<ul>
<li style="font-family: inherit;"><a href="http://www.linkedin.com/pub/howard-ashcraft/8/517/748">Howard Ashcraft</a></li>
<li><a href="http://www.linkedin.com/pub/andy-currid/0/169/775">Andy Currid</a></li>
<li><a href="http://www.linkedin.com/pub/john-michael-kyono/7/10/271">John-Michael Kyono</a></li>
<li><a href="http://www.linkedin.com/in/jimmeyer">Jim Meyer</a></li>
<li><a href="http://www.linkedin.com/in/parkert">Parker Thompson</a></li>
</ul>
If you'd like to get involved, <a href="get_involved">please jump right in!</a>
</div>