<div class="entry-content">
  <p><strong>Thanks for getting involved!</strong> We're really happy you want to help out, and in doing so you're demonstrating just how tight-knit our community really is.</p>
  <p><strong><em>Here are some easy ways to lend a hand:</em></strong></p>
  <ul>
    <li><a class="action_button" id="join_group" href="http://groups.google.com/group/wirealameda">Join the WireAlameda Google Group!</a></li>
    <li><a class="action_button" id="tweet_us" href="http://twitter.com/?status=I%20want%20Google%20to%20bring%20ultra-high-speed%20internet%20to%20Alameda%21%20Follow%20%40wirealameda%20and%20visit%20http%3A%2F%2Fwirealameda.com%2F%20for%20more%20details%21">Tweet about WireAlameda!</a></li>
    <li><a class="action_button" id="facebook_group" href="http://www.facebook.com/group.php?gid=402905279837">Join our Facebook Group!</a></li>
    <li><a class="action_button" id="facebook_fan" href="http://www.facebook.com/pages/WireAlameda/403147428975">Become a fan of WireAlameda on Facebook!</a></li>
    <li><a class="action_button" id="email_us" href="mailto:?subject=Join%20WireAlameda&body=You%27ve%20probably%20heard%20about%20Google%27s%20proposed%20ultra-high-speed%20internet%20pilot.%20They%27re%20going%20to%20select%20some%20number%20of%20communities%20where%20they%20will%20bring%20fiber%20directly%20to%20the%20home%3B%20this%20will%20increase%20the%20bandwidth%20for%20these%20lucky%20communities%20up%20to%20100x%20current%20speeds.%0A%0AYou%20may%20not%20know%20about%20WireAlameda%2C%20a%20community%20group%20in%20Alameda%20working%20closely%20with%20our%20city%27s%20leaders%2C%20our%20schools%2C%20businesses%2C%20hospital%2C%20and%20other%20community%20organizations%20to%20show%20Google%20just%20what%20an%20excellent%20choice%20Alameda%20would%20be%20for%20this%20pilot.%0A%0APlease%20take%20a%20moment%20to%20go%20to%20http%3A%2F%2Fwirealameda.org%2F%2C%20learn%20more%2C%20and%20nominate%20Alameda%20to%20be%20part%20of%20Google%27s%20pilot%20program%21%0A%0A">Email your friends and neighbors!</a></li>
    <li>Got something special to offer? <a class="action_button" id="contact_us" href="mailto:info@wirealameda.org?subject=WireAlameda:%20I%20Want%20To%20Help">Contact us directly!</a></li>
  </ul>
</div>