<div class="entry-content">
  <h1 style="font-size:30px;">Hey, Google! Wire Alameda!</h1>

  <table style="border: 0px; border-bottom: 0px solid #FFF;">
    <tr><td>
      <object width="873" height="525"><param name="movie" value="http://www.youtube.com/v/lx-ha1USHwk&hl=en_US&fs=1&rel=0&hd=1&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lx-ha1USHwk&hl=en_US&fs=1&rel=0&hd=1&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="873" height="525"></embed></object>
    </td></tr>
    <tr><td style="font-size: 12px; text-align: right;">
      <em>See more interviews and favorites on <a href="http://youtube.com/wirealameda">the WireAlameda YouTube channel.</a></em>
    </td></tr>
  </table>

  <p><strong>Deployment will be quick and easy.</strong><br/>
    <ul>
      <li>Our municipal utility owns all the needed infrastructure, easements, and rights-of-way</li>
      <li>We're a temperate climate with a flat, easy-to-dig soil throughout the island</li>
      <li>We've laid fiber throughout our city before</li>
    </ul>
  </p>

  <p><strong>We're committed.</strong><br/>
    <ul>
      <li>The City of Alameda has appointed as point person Deputy City Manager Jennifer Ott, who has considerable experience dealing with large, multi-discipline projects</li>
      <li>Alameda has committed to appoint a permit streamlining task force</li>
      <li>WireAlameda is committed to supporting a Google/Alameda collaboration in any way possible</li>
    </ul>
  </p>

  <p><strong>We're an excellent sandbox.</strong><br/>
    <ul>
      <li>There are many large and small tech businesses in Alameda.</li>
      <li>Alameda's population is diverse both demographically and technically.</li>
      <li>Alameda also has a diverse mix of modern and Victorian construction, with both single-family and multi-unit dwellings, all of which provides a broad range of deployment scenarios in one place</li>
      <li>We're less than an hour from the Googleplex, making it very easy to interact directly with your testers.</li>
    </ul>
  </p>



  <p style="font-size: 10px;"><em>* and yes, we know that fiber isn't wire, but "FiberAlameda" is a bit ambiguous and "PullAlameda", well, you can see where that goes wrong.</em></p>
</div>