<div class="entry-content">
<p><font size="2"><strong>Alameda</strong></font> is pulling together the best application to be part of <a href="http://www.google.com/appserve/fiberrfi" target="_blank">Google's gigabit broadband pilot program</a>, which will deliver gigabit broadband internet to communities. <strong><em>And we need your help!</em></strong></p>

<p>All parts of our city government and community organizations are coming together to support this, but <strong>what's
 really needed is input from you, the citizens of Alameda</strong>. Take a few minutes to <a href="rfi">nominate Alameda</a> to Google, tell them why having super-high-speed internet is important to you, and how it's going to make your world better.</p>
<!-->
<ul>
  <li><a class="action_button" href="get_involved">Get Involved!</a></li>
  <li><a class="action_button" href="learn">Learn More</a></li>
  <li><a class="action_button" href="rfi">Fill Out The Individual RFI</a></li>
</ul>
-->
</div>