<div class="entry-content">
<p><strong>Alameda</strong> is pulling together the best application to be part of <a href="http://www.google.com/appserve/fiberrfi" target="_blank">Google's gigabit broadband pilot program</a>, which will deliver gigabit broadband internet to communities. <strong><em>And we need your help!</em></strong></p>

<p>All parts of our city government and community organizations are coming together to support this, but <strong>what's
 really needed is input from you, the citizens of Alameda</strong>. Take a few minutes to <a href="rfi">nominate Alameda</a> to Google, tell them why having super-high-speed internet is important to you, and how it's going to make your world better.<br/><br/></p>
 
<h2>PUBLIC RALLY NEXT WEEKEND: 28 Mar 2010</h2>
<p>We're pulling together a <strong>public rally next Sunday, 28 March</strong>; it was originally scheduled for this weekend (as reported on <a href="http://www.alamedasun.com/">the Alameda Sun website</a>), but the logistics required couldn't be pulled together fast enough. We'll be posting more details here soon.<br/><br/></p>

<p><strong><em>Meanwhile, here's how you can help:</em></strong></p>

<ul>
  <li><a class="action_button" id="nominate_us" href="rfi"><strong>Nominate Alameda!</strong></a></li>
  <li><a class="action_button" id="join_group" href="http://groups.google.com/group/wirealameda"><strong>Join the WireAlameda Google Group!</strong></a></li>
  <li><a class="action_button" id="tweet_us" href="http://twitter.com/?status=I%20want%20Google%20to%20bring%20ultra-high-speed%20internet%20to%20Alameda%21%20Follow%20%40wirealameda%20and%20visit%20http%3A%2F%2Fwirealameda.com%2F%20for%20more%20details%21">Tweet about WireAlameda!</a></li>
  <li><a class="action_button" id="facebook_group" href="http://www.facebook.com/group.php?gid=402905279837">Join our Facebook Group!</a></li>
  <li><a class="action_button" id="facebook_fan" href="http://www.facebook.com/pages/WireAlameda/403147428975">Become a fan of WireAlameda on Facebook!</a></li>
  <li><a class="action_button" id="email_us" href="mailto:?subject=Join%20WireAlameda&body=You%27ve%20probably%20heard%20about%20Google%27s%20proposed%20ultra-high-speed%20internet%20pilot.%20They%27re%20going%20to%20select%20some%20number%20of%20communities%20where%20they%20will%20bring%20fiber%20directly%20to%20the%20home%3B%20this%20will%20increase%20the%20bandwidth%20for%20these%20lucky%20communities%20up%20to%20100x%20current%20speeds.%0A%0AYou%20may%20not%20know%20about%20WireAlameda%2C%20a%20community%20group%20in%20Alameda%20working%20closely%20with%20our%20city%27s%20leaders%2C%20our%20schools%2C%20businesses%2C%20hospital%2C%20and%20other%20community%20organizations%20to%20show%20Google%20just%20what%20an%20excellent%20choice%20Alameda%20would%20be%20for%20this%20pilot.%0A%0APlease%20take%20a%20moment%20to%20go%20to%20http%3A%2F%2Fwirealameda.org%2F%2C%20learn%20more%2C%20and%20nominate%20Alameda%20to%20be%20part%20of%20Google%27s%20pilot%20program%21%0A%0A">Email your friends and neighbors!</a></li>
  <li>Got something special to offer? <a class="action_button" id="contact_us" href="mailto:info@wirealameda.org?subject=WireAlameda:%20I%20Want%20To%20Help">Contact us directly!</a></li>
</ul>
</div>