<p><font size="2"><strong>Alameda</strong></font> is pulling together a killer application to be part of <a href="http://www.google.com/appserve/fiberrfi" target="_blank">Google's gigabit broadband pilot program</a>, which will deliver gigabit broadband internet to communities.</p>

<p>All parts of our city government and 
community organizations are coming together to support this, but <strong>what's
 really needed is input from you, the citizens of Alameda</strong>. Take 5 minutes out to <a href="http://https://www.google.com/appserve/fiberrfi/user/launch_exhibit_b">file an application</a> with Google, tell them why having super-high-speed internet is important to you, and how it's going to make your world better.</p>

<p>bar</p>
