<table width=950 border=1>
  <tr>
    <td width=750>

      <iframe height=2000px width=750px src="https://www.google.com/appserve/fiberrfi/user/launch_exhibit_b">

      </iframe>

    </td>
    <td valign=top bgcolor=#c0c0c0>

      <div class="rfi_right_nav">
        <h2><strong>Google RFI hints</strong></h2>
        <p>&nbsp;</p>
        <p>If you're not signed into your Google or Gmail account, you'll be asked to sign in.</p>
        <p>
          Please use your real name, not a nickname
        </p>
        <p>&nbsp;</p>
        <p>
          If you're responding as an individual, leave these two boxes blank
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
          <b>Alameda</b>
        </p>
        <p>&nbsp;</p>
        <p>
          <b>California</b>
        </p>
        <p>&nbsp;</p>
        <p>
          <strong><em>This is the most important part for you to fill out:</em></strong> explain to Google in your own words why Alameda would be an excellent community for their pilot. You can say anything
        </p>
        <p>&nbsp;</p>
        <p>
          If you've got a creative way to stand out, please do! And please <a href="mailto:info@wirelameda.org?subject=RFI%20Submission">email us a link</a> so we
          can feature you on <a href="http://wirealameda.org/">wireAlameda.org</a>.
        </p>
        <p>
          Alameda has:
          <ul>
            <li>AT&T (DSL, Dial-up)</li>
            <li>Comcast (Cable Modem)</li>
            <li>Earthlink (DSL, Dial-up)</li>
            <li>Unwired (Wireless)</li>
          </ul>
        </p>
        <p>
          In Alameda, DSL is typically advertised as 1-5Mbps; cable modems are typically advertised as 10Mbps or faster.
        </p>
        <p>&nbsp;</p>

        <p>
          You can use <a target="_blank" href="http://www.speedtest.net">speedtest.net</a> to measure your download and upload speed.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
          Comcast's cable internet offerings start at $44 per month in Alameda, unless
          you swung yourself a special deal.
        </p>
        <p>
          AT&T DSL ranges from $15-40 per month.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
          If you've had bad experience with Comcast since the switchover from
          AlamedaNet, be sure to mention it here.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
          Fiber-to-the-home broadband will certainly be faster and likely more reliable than current offerings.
        </p>
        <p>
          When you're done with your answers, hit the "Send Nomination" button
          to submit to Google.
        </p>
      </div>


    </td>
  </tr>
</table>

