<div class="entry-content">
  <h2>Why would Alameda be an excellent choice for the Google Fiber Community Initiative?</h2>
  <ul>
    <li>Our current broadband users don't have a strong attachment to their providers</li>
    <li>We've got a lot of land available at Alameda Point which could be put to interesting uses, including a place to house new tech startups helping develop applications for this network</li>
    <li>Alameda Point in its current, underdeveloped state is much easier to deploy than if it were densely built and populated</li>
    <li>We've already got quite a number of tech businesses in our city (and capacity to caffeinate them all many times over)</li>
    <li>We own our own utility and its infrastructure (poles, etc.) which simplifies a lot of the negotiations</li>
    <li>We have experience in cable roll out, what works, what doesn't, and how to approach the project. Google can build off of this knowledge and save time and money.</li>
    <li>We own our own dark-fiber backbone, which might be useful in reducing the amount of deployment needed</li>
    <li>Geologically speaking, we're a pretty flat and easy to dig kind of place</li>
    <li>We've got a temperate climate, which make construction easier</li>
    <li>Alameda is a fairly compact city, which makes the project easier to manage and reduces the amount of fiber needed</li>
    <li>Our community is tech-savvy enough to be interesting and quickly engaged without being so techie that we're outside the norm</li>
    <li>We're physically close to Google's HQ in Mountain View, which makes it easy for them to directly participate</li>
    <li>We have a diverse mix of large-scale potential uses: AUSD, College of Alameda, Alameda Free Library, Alameda Hospital,</li>
    <li>We've already appointed a single-point of contact at the city (Jennifer Ott)</li>
    <li>We are diverse USA town-like city with residents that span all job sectors (blue, white, etc.) and wealth diversities. </li>
    <li>Last but certainly not least, we're a tightly-knit community who's very interested in this and demonstrating how quickly and completely we can come together</li>
  </ul>
</div>